<!DOCTYPE html>
<html>
  <head>
    <title>Login Error</title>
    <style>
      body {
        background: linear-gradient(
          to right,
          #ff6060,
          #ff9999
        ); /* Reddish gradient for error */
        font-family: "Poppins", sans-serif;
        color: white;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        align-items: center;
        justify-content: center;
        text-align: center; /* Center text */
      }

      .error-container {
        background-color: rgba(255, 255, 255, 0.1);
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        max-width: 600px;
      }

      h2 {
        font-size: 2.5em;
        margin-bottom: 20px;
      }

      p {
        font-size: 1.2em;
        line-height: 1.6;
        margin-bottom: 30px;
      }

      .contact-info {
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div class="error-container">
      <h2>Login Error!</h2>
      <p>
        We're sorry, but it seems there was an issue with your login attempt.
        Please double-check your credentials. It's possible that the information
        you provided is incorrect.
      </p>
      <p>
        If you continue to experience problems, there might be a temporary
        server issue. Please try again later. If the issue persists, feel free
        to contact us for assistance.
      </p>
      <p class="contact-info">Contact Tonmoy at: abidtonmoy45@gmail.com</p>
    </div>
  </body>
</html>
